body{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 3fr 1fr;
}

header{
    background-color: #977e7f;
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
nav{
    background-color:#c0c0c0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    transition-duration: 0.4s;
}
main{
    background-color: #ece8e8;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.4s;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.3fr ;
    
}
.textarea{
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    color: rgb(78, 78, 78);
    padding: 20px;
    border-radius: 30px;
    resize: none;
    grid-column: span 2;
    justify-self: center;
    height: 85%;
    width: 85%;

}
footer{
    background-color:#dfbcb8;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.footerlinks{
    display: flex;
    justify-content: center;
    
}
.NewNote,.Save,.DarkTheme,.Cancel {
    background-color: #5d997c;
    border: none;
    color: white;
    padding: 15px;
    margin: 10px; 
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    transition-duration: 0.4s;
    outline: none;
}
.top{
    grid-row: 1 / 2;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.bottom{
    grid-row: 3 / 4 ;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin: 0.9em;

}

.DarkTheme{
    background-color:#696969;
}
.Cancel{
    background-color:#d43b15;
}

.dark_theme{
    background-color: rgb(56, 56, 56);
    color: white;
    transition-duration: 0.4s;
}
.dark_theme .textarea{
    background-color: rgb(71, 71, 71);
}

.light_theme{
    background-color:#ece0cc;
    color: rgb(56, 56, 56);
}
.dark_theme .Cancel{
    background-color: #993f2f;
}
.dark_theme .NewNote, .dark_theme .Save{
    background-color: #447456;
}

@media screen and (max-width: 600px){
    body{
        grid-template-rows: 0.5fr 0.8fr 2fr;
    }
    nav{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin-bottom: 0.2em;
    }
    main{
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        margin-top: 0.1em;
        margin-left: 0px;
        margin-right: 0px;
    }
    footer{
        grid-row: 4 / 5;
    }
}