body{
    display: grid;
    grid-template-columns: 20% 80%;
}

header{
    background-color: #977e7f;
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

aside{
    background-color:#c0c0c0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

main{
    background-color: #ece8e8;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.textarea{
    background-color: rgb(255, 255, 255);
    flex: 1 0 85%;
}
footer{
    background-color:#dfbcb8;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
h3{
    display: flex;
    justify-content: center;
}
.footerlinks{
    display: flex;
    justify-content: center;
}
.NewNote,.Save,.DarkTheme,.Cancel {
    background-color: #5d997c;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}
.DarkTheme{
    background-color:#696969;
}
.Cancel{
    background-color:#d43b15;
}
